{% include "header.html" %}
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center py-5 mb-5">
                    <h1 class="display-5 fw-bolder my-1"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <!-- Download resume button-->
                                <a class="btn btn-primary px-4 py-3" href="#!">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2023 - Present</div>
                                                <div class="small fw-bolder">Code Academy, Udemy</div>
                                                <div class="small text-muted">Python 3, HTML, CSS - Courses</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                                    </div>
                                </div>
                            </div>

                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-primary fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2019 - 2023</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Saint Petersburg State University Of Civil Aviation</div>
                                                    <div class="small text-muted">Saint Petersburg, Russia</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Bachelor's</div>
                                                    <div class="small text-muted">Business Administration and Processes</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2008 - 2019</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Petrozavodsk "Academic Lyceum"</div>
                                                    <div class="small text-muted">Petrozavodsk, Russia</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">High School Diploma</div>
                                                    <div class="small text-muted">Financial Mathematics</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Back-End Development</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Data Analysis</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <!-- CONTACT BUTTON -->
            <section class="colored-footer">
                <div class="container">
                    <div class="box bg-light-blue my-3">
                        <div class="row level-item">
                            <div class="box-column text-white text-center">
                                <h4>Contact Me</h4>
                            </div>
                            <div class="box-column text-white text-center contact-text">
                                <p>Interested in working together? We should get some coffee and chat. I'm paying!.</p>
                            </div>
                            <div class="box-column text-center">
                                <a class="btn btn-outline-light btn-rounded px-5 py-3 fs-7 " href="{{ url_for('contact') }}">
                                    Let's chat!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

{% include "footer.html" %}
