{% include "header.html" %}
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center py-5 mb-5">
                    <h1 class="display-5 fw-bolder my-1"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary resume-header-text fw-bolder">Experience</h2>
                                <!-- Download resume button-->
                                <a class="dwnl-btn btn btn-primary px-2 py-3" href="/static/assets/CV_Egor_Barinov.pdf" download="CV_Egor_Barinov.pdf">
                                    <div class="d-inline-block"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Jun 2024 - Present</div>
                                                <div class="small fw-bolder">Research and Development Analyst</div>
                                                <div class="small text-muted">Influenceable</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="resume-box-text">
                                                Developed and launched creators portal automating 90% of campaign management processes. Built complete database architecture using AirTable with automated workflows and microservices. Implemented automated post data collection systems and built analytics dashboards with executive overview and client-facing interfaces.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Feb 2023 - Feb 2024</div>
                                                <div class="small fw-bolder">Junior Python Developer / Contributor</div>
                                                <div class="small text-muted">Goldfinch</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="resume-box-text">
                                                Developed proficiency in core Python programming concepts including object-oriented programming, data structures, and control flow mechanisms. Contributed to enterprise-level projects by implementing assigned features and maintaining existing codebase components while collaborating with cross-functional development teams.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-primary resume-header-text fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2019 - 2023</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Saint Petersburg State University Of Civil Aviation</div>
                                                    <div class="small text-muted">Saint Petersburg, Russia</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Bachelor's</div>
                                                    <div class="small text-muted">Business Administration and Finance</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="resume-box-text">
                                                Completed comprehensive studies in business administration and finance, developing strong analytical and problem-solving skills. This foundation provided valuable business acumen that complements my technical programming abilities and helps me understand software projects from a business perspective.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Certifications Section-->
                        <section>
                            <h2 class="text-primary resume-header-text fw-bolder mb-4">Certifications</h2>
                            <!-- Certification Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">March 2025</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">PyTorch: Zero to Mastery</div>
                                                    <div class="small text-muted">Mdbourke</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="resume-box-text">
                                                Comprehensive machine learning course covering PyTorch fundamentals, neural networks, deep learning, and practical AI/ML applications. Gained hands-on experience building and deploying ML models for real-world projects.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Certification Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">Sep 2023 - Jan 2024</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Learn Python 3, Build Python Web Apps, Learn SQL</div>
                                                    <div class="small text-muted">Codecademy</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="resume-box-text">
                                                Completed comprehensive Python programming courses covering core concepts, web development frameworks, and database management with SQL. Built multiple projects demonstrating proficiency in Python web application development.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Certification Card 3-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">Nov 2023 - Feb 2024</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Python Bootcamp, Python Django</div>
                                                    <div class="small text-muted">Udemy</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="resume-box-text">
                                                Intensive bootcamp focusing on advanced Python programming and Django framework development. Learned to build scalable web applications, implement authentication systems, and deploy production-ready applications.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">TypeScript</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Django</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Flask</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">ReactJS</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Express.js</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PostgreSQL</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQLite</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Airtable</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PyTorch</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web3</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Docker</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">AWS</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Digital Ocean</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Supabase</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Git</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Programming Languages</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">TypeScript</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <!-- CONTACT BUTTON -->
            <section class="colored-footer">
                <div class="container">
                    <div class="box bg-light-blue my-3">
                        <div class="contact-container level-item">
                            <div class="box-column text-white text-center">
                                <h4>Contact Me</h4>
                            </div>
                            <div class="box-column text-white text-center contact-text">
                                <p>Interested in working together? We should get some coffee and chat. I'm paying!</p>
                            </div>
                            <div class="box-column text-center">
                                <a class="btn btn-outline-light btn-rounded px-5 py-3 fs-7 " href="{{ url_for('contact') }}">
                                    Let's chat!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

{% include "footer.html" %}
